
<table style="width:897px; background:#FFFFFF; margin:0 auto;">
<tr >
	<td width="300" valign="top" style="border-right:#666666 1px dotted;">
    	<div id="services"><h1>Services</h1><br>
	    <ul>
        	<li><a href="#">Deposit</a></li>
                <li><a href="#">Withdraw</a></li>
                <li><a href="#">Transfer</a></li>
                <li><a href="#">Close A/C</a></li>
            </ul>
			
       </div>
	</td>
    
    <td width="1200" valign="top">
   
    <br> 	
    	
<table>
        <h1>Account Summary</h1>
	<table id="fancytable">
	  <tr><th>Account No</th><th>Name</th><th>Balance Amount</th><th>Address</th><th>Phone No</th></tr>
	  <tr>
	   <!-- <td><p id="notice"><%= notice %></p></td> -->
           <td><%= @account.user_id %></td> 
	   <td><%= @user.name %></td>
	   <td><%= @account.amount %></td>
	   <td><%= @account.address %></td>
	   <td><%= @account.phone %></td>
	  </tr>
	</table>	

	<br>

	<h1>Listing Transaction</h1>

	<table id="fancytable">
	  <tbody>
	    <tr><th>Account No</th><th>Amount</th><th>Type</th><th>Remarks</th><th>Date</th></tr>
	    <% @transactions.each do |transaction| %>
	      <tr>
        	<td><%= transaction.user_id %></td>
        	<td><%= transaction.amount %></td>
        	<td><%= transaction.txn_type %></td>
        	<td><%= transaction.remarks %></td>
        	<td><%= transaction.created_at %></td>        
              </tr>
    	    <% end %>
  	 </tbody>
	</table>
</table>

