<p id="notice"><%= notice %></p>

<p>
  <strong>Account Number:</strong>
  <%= @account.user_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @account.amount %>
</p>

<p>
  <strong>Address:</strong>
  <%= @account.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @account.phone %>
</p>

<p>
  <strong>Status:</strong>
  <%= @account.status %>
</p>

