<%= form_for(@transaction)  do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="welcome">
   <%= f.label "Current balance in your account is" %> <%= @account.amount %><br>
    <%= f.label :amount %><br>
    <%= f.text_field :amount, :step => 'any' %>
     
    <%= f.label :remarks%><br>
    <%= f.text_field :remarks %>

  </div>
  <div class=actions">
    <%= f.submit :class => 'submit' %>
  </div>
<% end %>
